<body class="imagen1">
    <div class="login-box">
      <img class="avatar" src="assets/img/iconol.png" alt="logo de login">
      <h1>Registrate</h1>
      <form>
        <label for="correo_cli">Correo</label>
        <input type="text" placeholder="Ingrese Correo">

        <label for="usuario_cli">Username</label>
        <input type="text" placeholder="Ingrese Nickname">

        <label for="clave_cli">Password</label>
        <input type="password" placeholder="Ingrese Password">

        <input type="submit" (click)="register()" value="Registrar"> 
   
      </form>
    </div>
    </body>