<div align="center">
    <img src="assets/img/equipo.png" class="img-fluid" alt="Responsive image" style="height:700%"  >
    
    
    <h1 ><span class="text-center titulor"> NUESTRO </span ><span class="text-center titulon">EQUIPO</span></h1>
    
    <table cellspacing="70" cellpadding="70" style="text-align:center">
    <tr>
        <th><img src="assets/img/ana.png" width="130" height="130"><p class="subn"><strong style= "line-height:1.8">ANA <span style= color:#f81818;>SÁNCHEZ </span></strong></p> <p class="sub">“CONTAR COSAS”</p> </th>
        <th><img src="assets/img/cesar.png" width="130" height="130"><p class="subn"><strong style= "line-height:1.8"> CESAR <span style= color:#f81818;>MAMANI </span></strong></p> <p class="sub">“EXPERIMENTAR”</p> </th>
    <th><img src="assets/img/andres.png" width="130" height="130"><p class="subn"><strong style= "line-height:1.8"> ANDRES <span style= color:#f81818;>PEREZ </span></strong></p> <p class="sub">“ALENTAR”</p> </th>
    </tr>

    <tr>
        <th><img src="assets/img/joaquin.png" width="130" height="130"><p class="subn"><strong style= "line-height:1.8">LUIS<span style= color:#f81818;> PEREZ </span></strong></p> <p class="sub">“MOMENTO DE REVELACION”</p> </th>
        <th><img src="assets/img/jaime.png" width="130" height="130"><p class="subn"><strong style= "line-height:1.8"> JAIME <span style= color:#f81818;>SÁNCHEZ </span></strong></p> <p class="sub">“CREAR”</p> </th>
        <td routerLink="/trabajacn" ><img  src="assets/img/quiereunirte.png" width="130" height="130" ><p class="subn"><strong style= "line-height:1.8"> QUIERES <span style= color:#f81818;>UNIRTE </span></strong></p><p class="sub">?</p>  
    
</tr>
    </table>

    </div>
    