<div align="center"><br><br>
  <img src="assets/img/1.png" class="img-fluid" alt="Responsive image">
   
  <h1 ><span class="text-center titulor"> SERVICIOS </span ><span class="text-center titulon">MANANTIAL</span></h1>
   
  <table cellspacing="20" cellpadding="20" style="text-align:center">
    <pre>
      <tr>
          <td nowrap>
  <div class="card " style="max-width: 70rem;height: 30rem">
      <div class="card-body"> <img src="assets/img/datos.png"idth="30" height="60">
      <P class="text2">BASE DE DATOS</P><pre class="text">
La disponibilidad de su información es lo que 
nos motiva para brindarle el mejor servicio en:
 
Implementación de base de datos
Upgrade y migración
Backup y Recovery
Afinamiento de Base de datos
Gestión de Base de datos
Bolsa de horas
Capacitación
</pre>     
      </div>
  </div>
  </td>
  <td nowrap> 
  <div class="card " style="max-width: 25rem;height: 30rem">
      <div class="card-body"><img src="assets/img/formal.png" height="55">
        <p class="text2">CLOUD</p><pre class="text">La agilidad, la experimentacion y nivel de servicio 
  como generador de valor para su negocio.
          
  Implementación de Servicios Cloud
          
  Migración de soluciones a Cloud
          
  Gestión de Cloud
          
  Billing de Cloud
          
  Assesment de Cloud
          
  Capacitación
  
  </pre>
        
   
      </div>
  </div>
  </td>
  </tr>
  <tr>
  <td nowrap>
    <div class="card"  style= "max-width:25rem; height: 30rem" >
        <div class="card-body"><img src="assets/img/reloj.png"  height="55">
          <p class="text2">MONITOREO</p><pre class="text">
          
  La visibilidad de sus servicios para garantizar 
  su disponibilidad es nuestro compromiso.
   
  Monitoreo como servicio
   
  Gestion del servicio de monitoreo
   
  Implementación
  </pre>
        </div>
    </div>
    </td>
    <td nowrap>
      <div class="card" style="max-width: 25rem; height: 30rem">
          <div class="card-body"><img src="assets/img/manos.png"  height="55">
           <p class="text2" >OUTSOURCING</p><pre class="text">
Nuestro valor diferenciador a los servicios
de personas son los siguientes:
   
-Conocimiento de la vertical de negocio en la que 
desempeña para de este modo entender el  impacto 
sobre las necesidades que se les plantea.
            
-Mentorias, lo integrantes de nuestro equipo cuentan
con mentorias en el rubro que se desempeñen.
            
-Experiencia en el rol que desempeñan.
            
-Capacitacion constante con foco en las necesidades
de nuestros clientes y las nuevas tendencias.
  </pre>
      </div>
      </div>
      </td>
    </tr>
    </pre>
  </table>
   
   
  </div>