<div align="center">
<img src="assets/img/cultura.png" class="img-fluid" alt="Responsive image"><br><br>

<h1 ><span class="text-center titulor"> COOLTURA </span ><span class="text-center titulon">MANANTIAL</span></h1>
   
<pre>
<table>
    <tr>
<blockquote>
    <p class="parrafos">       
Nuestro propósito
Mejorar el desempeño empresarial de nuestro clientes usando la tecnología y las soluciones innovadoras como ventaja comparativa.

Mediante  nuestra  cultura buscamos  impactar en las organizaciones en las que  participamos, buscando  que este impacto sea  positivo  desde  nuestras<br>soluciones TI,pero también desde nuestra cultura y valores.

Nuestra cultura esta definida por la suma de los valores de cada uno de los que integramos el equipo Manantial,nuestro ADN está definido claramente por:
</p>

</blockquote>
</tr>
</table>
</pre>  
<table  cellspacing="50" cellpadding="50">
    <tr>
    <td>  <img src="assets/img/trabajaenequipo.png " width="130" height="130" > <p class="h">TRABAJA EN EQUIPO</p> </td>
    
    <th><img src="assets/img/experiencia.png" width="130" height="130"><p class="h">EXPERIENCIA </p></th>
    <th><img src="assets/img/diversion.png" width="130" height="130"><p class="h">DIVERSION </p></th>
    </tr>
    
    <tr>
    <td><img src="assets/img/compromiso.png" width="130" height="130"><p class="h">COMPROMISO</p></td>
    <td> <img src="assets/img/pasion.png" width="130" height="130"><p class="h">PASION</p></td>
    <td><img src="assets/img/compañerismo.png" width="130" height="130" ><p class="h">COMPAÑERISMO</p></td>
    </tr>
    </table>
    <pre>
<table>
    <tr>
<blockquote>
<p class="parrafos">    
En un mundo donde las organizaciones y el mercado cambian semana a semana,donde lo único cierto es lo incierto,trabajamos y nos capacitamos
para ser  una organización , ágil ,  líquida y  que fluye  ( Manantial ) , buscando soluciones creativas a la resolución de problemas, las búsqueda de
soluciones de impacto pero también conscientes de que las personas son lo más importante. Es así que en Manantial buscamos el equilibrio entre el
trabajo y el bienestar de nuestra gente,buscando siempre crear un ambiente de compañerismo,confianza,humor y sobre donde podamos desarrollar
esta pasión por lo que hacemos.
</p>
</blockquote>
</tr>
</table>
</pre>
</div>

