<div align="center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form id="contact-form" class="img-fluid" #form="ngForm" method="post">
            <label for="nom_cli">Nombre: </label>
            <input type="text" placeholder="Nombre">
            <p></p>
            <label for="apepat_cli">Apellido Paterno: </label>
            <input type="text" placeholder="Apellido Paterno">
            <p></p>
            <label for="apemat_cli">Apellido Materno: </label>
            <input type="text" placeholder="Apellido Materno">
            <p></p>
            <label for="dni_cli">DNI: </label>
            <input type="text" placeholder="DNI">
            <p></p>
            <label for="correo_cli">Correo: </label>
            <input type="text" placeholder="Correo">
            <p></p>
            <label for="fec_nacimiento_cli">Fecha Nacimiento: </label>
            <input type="date" placeholder="Fecha de Nacimiento">
            <p></p>
            <label for="licencia_cli">Número Licencia: </label>
            <input type="text" placeholder="Número Licencia">
            <p></p>
            <label for="usuario_cli">Username: </label>
            <input type="text" placeholder="Nickname">
            <p></p>
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
</div>
