

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
  <img src="assets/img/logo.png " width="180" height="61" > 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="nav navbar-nav ml-auto">
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#nosotros" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            NOSOTROS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="#cooltura">COOLTURA</a>
            <a class="dropdown-item" href="#equipo">EQUIPO</a>
           
            
   </div>      
  
   <li class="nav-item">
    <a class="nav-link"[routerLink]="['servicios']">SERVICIOS</a>
  </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['clientes']">CLIENTES</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " [routerLink]="['blog']">BLOG</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#trabajacn">TRABAJA CON NOSOTROS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#contacto">CONTACTO</a>
        </li>
      
      </ul>
    
   
       
</div>
 
  </nav>



<router-outlet></router-outlet>
  

