<body class="imagen1">
    <div class="login-box">
      <img class="avatar" src="assets/img/iconol.png" alt="logo de login">
      <h1>Login</h1>
      <form>
        <label for="username">Username</label>
        <input type="text" placeholder="Enter username" [(ngModel)]="cliente.usuario_cli" [ngModelOptions]="{standalone:true}">
   
        <label for="password">Password</label>
        <input type="password" placeholder="Enter password" [(ngModel)]="cliente.clave_cli" [ngModelOptions]="{standalone:true}">
   
        <input type="submit" (click)="login()" value="Ingresar"> 
   
        <a href="#resetpass">Recuperar Contraseña</a><br>
        <a href="#register">¿No tienes una cuenta? Regístrate</a>
      </form>
    </div>
    </body>
