
<div align = "center">
    <br>
    <hr>
    <p ><span class ="sub " [routerLink]="['anclaje']"> Cooltura Manantial: diversión, trabajo y aprendizaje  </span></p>
     
    <hr>
     
    <br>
     
        <head>
            <title>Ejemplo del uso de tablas - aprenderaprogramar.com</title>
        </head>
        <body>
     
            <table class="tablespace" align="center">
               <tr>
                <td> <img src="assets/img/AN.jpg " class="button" idth="780" height="418"  ></td>
                   
                    <pre>  <p >            
          Entradas recientes
                <span class="sub"> 
                        >Cooltura Manantial: diversión,
                         trabajo y aprendizaje 
                     _________________________</span> 
     
         Comentarios recientes
         Categorías
                <span class="sub" > 
                        >Cooltura
                      ________________________ </span> </p></pre>
                   
              </tr>
              <tr>
                  
                  <td> 
                  
                    <span class ="sub parrafos"> Cooltura Manantial: diversión, trabajo y aprendizaje</span><br>
                  <br>
                  <span class = "parrafos"> 
                  <span class ="subr ">Fluímos contigo….</span> Esta frase refleja nuestro sentido de existencia como empresa:<span class ="font-italic ">“Estar siempre al lado de <br>
                  nuestros colaboradores y socios de negocio” </span>para apoyarlos en sus necesidades y cumplir con sus objetivos.<br>
                  Este acompañamiento lo realizamos mediante la empatía hacia ellos, porque si nos ponemos en sus <span class ="font-italic ">“zapatos”</span><br>
                  podemos identificar de modo más rápido sus necesidades para apoyarlos con la solución.<br>
                  <br>
                   Somos <span class ="subr ">Manantial</span> y nacimos para darles oportunidades a las personas que están comprometidas con su<br>
                  futuro y el futuro de la sociedad, somos conscientes que necesitamos de personas comprometidas<br>
                  dispuestas a asumir el reto como personas y profesionales.<br>
                  <br>
                  En <span class ="subr ">Manantial</span> promovemos los valores basados en nuestra “Cooltura”, una cultura definida y abrazada por<br>
                  cada uno de los integrantes de Manantial quienes definimos nuestra identidad en conjunto escuchando la<br>
                  voz de todos, porque ese es el único modo de sentirse<span class ="font-italic ">“parte de”</span> . Esta es nuestra empresa, es nuestra familia<br>
                  y estamos aqui para apoyarlos!!!!<br>
                    <span class ="titulor font-weight-bold">_______</span><br> 
                </span>
     
                </td>
     
                <td>         </td>
                  
              </tr>
            </table>
        </body>
     
         
<div class="parrafos text-center "btn-whatsapp> ¡Comparta esta historia, elija su plataforma!<a  href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fmanantial.pe%2Fcooltura-manantial%2F&t=Cooltura%20Manantial%3A%20diversi%C3%B3n%2C%20trabajo%20y%20aprendizaje" target="_blank"><img src="assets/img/face.jpg " alt="" idth="20" height="40"></a>
  <a  href="https://twitter.com/intent/tweet?text=Cooltura%20Manantial%3A%20diversi%C3%B3n%2C%20 
  trabajo%20y%20aprendizaje&url=https%3A%2F%2Fmanantial.pe%2Fcooltura-manantial%2F&original_referer=https%3A%2F%2Ftwitter.com%2Fshare%3Ftext%3DCooltura%2520Manantial%253A%2520diversi%25C3%25B3n%252C%2520trabajo%2520y%2520aprendizaje%26url%3Dhttps%253A%252F%252Fmanantial.pe%252Fcooltura-manantial%252F" target="_blank"><img src="assets/img/twi.jpg " alt="" idth="10" height="30"></a>
  <a  href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fmanantial.pe%2Fcooltura-manantial%2F" target="_blank"><img src="assets/img/in.jpg " alt="" idth="20" height="30"></a>
  <a  href="https://api.whatsapp.com/send?text=https%3A%2F%2Fmanantial.pe%2Fcooltura-manantial%2F" target="_blank"><img src="assets/img/whats.jpg " alt="" idth="20" height="30"></a>
 
</div>
<hr>
    </div>
     
    <br>
    <br>
    <br>
    <br>
