
<div>
  <img src="assets/img/blog.png " class="img-fluid" alt="Responsive image">
     
    <pre>
      <p> <span class = "titulor">                     
                                        BLOG </span > <span class="titulon"> MANANTIAL </span> </p>
    </pre>
 
    
 
      <div  style="padding-left: 150px;"class="image" >
        <div  style="padding-left: 150px;"class= "image">
          <img src="assets/img/blo1.jpg " class="imageb" width="600" height="318"  > 
        </div>   
        <div  style="padding-left: 150px;" class="middle">
 
        </div>   
        <pre>
        <p><span class = "suby" ><p class="sub"[routerLink]= "['blog']" >       
                                                Cooltura Manantial: diversión, trabajo y aprendizaje  <a routerLink="/anclaje"><img src="assets/img/adjuntar.jpg " alt="" idth="20" height="20"></a>.</p>
             </span>
        </p>
        </pre>
        <br>
        <br>
 
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
  <router-outlet></router-outlet>